* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url(./src/stars-964022.png);
    backdrop-filter: blur(0.8px);
    color: aliceblue;
}

.logo {
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    font-size: .8em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #910b0b;
}

nav .content {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
}

nav a span {
    margin-left: 10px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
}

nav a i {
    font-size: 25px;
    color: aliceblue;
}

.form-control {
    display: flex;
    
}

.container h1 {
    font-size: 4em;
    margin: 50px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

table {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#data-output tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

td {
    width: 300px;
    height: auto;
    margin: 50px;
    transition: .2s;
}

td:hover {
    transition: .2s;
    transform: scale(1.05);
}

li {
    background-color: #910b0b;
    padding: 5px 15px;
    list-style: none;
}

.film_title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    list-style: none;
    line-height: 50px;

}