* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url(./src/stars-964022.png);
    backdrop-filter: blur(0.8px);
    color: aliceblue;
}

header {
    width: 100%;
    background-color: #660d0d;
}

#menu {
    overflow: hidden;
    top: 0;
    z-index: 1;
    position: sticky;
}

nav {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
}

img.logo {
    width: 6%;
    color: aliceblue;
}

.form_input {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form_input input {
    width: 500px;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
}

.form-control {
    display: flex;

}

.btnSortStyle {
    width: 100px;
    padding: 5px 20px;
    border-radius: 25px;
    border: none;
    background-color: #131313;
    color: aliceblue;
}

.container h1 {
    font-size: 4em;
    margin: 50px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.tBody img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

table {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#data-output tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

td {
    width: 300px;
    height: auto;
    margin: 50px;
    transition: .2s;
}

td:hover {
    transition: .2s;
    transform: scale(1.05);
}

li {
    background-color: #660d0d;
    padding: 6px 15px;
    list-style: none;
}

.film_title {
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    list-style: none;
    line-height: 50px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
    img.logo {
        width: 8%;
    }
}


@media screen and (max-width: 1200px) {
    .container h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 1000px) {
    img.logo {
        width: 10%;
    }
}

@media screen and (max-width: 800px) {
    .container h1 {
        font-size: 2em;
    }
    img.logo {
        width: 12%;
    }
    .form_input input {
        transition: .2s;
        width: 250px;
    }
}