* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*navbar*/

header {
    width: 100%;
    background-color: #660d0d;
}

#menu {
    overflow: hidden;
    top: 0;
    position: fixed;
}

nav {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;
}

img.logo {
    width: 6%;
    color: aliceblue;
}

.form_input {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form_input input {
    width: 500px;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
}

.form-control {
    display: flex;

}

.btnSortStyle {
    width: 100px;
    padding: 5px 20px;
    border-radius: 25px;
    border: none;
    background-color: #131313;
    color: aliceblue;
}

.container {
    background: url(./src/space.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

.container h1 {
    font-size: 4em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

img.image {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

#data-output tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    width: 300px;
    height: auto;
    list-style: none;
}